
.container{
  background-color: var(--color-card);
  padding: 20px;
  border-radius: 8px;
}

/* Estilos comunes del formulario */
.formContent {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.formContent label{
  font-weight: 700;
  font-size: 15px;
}

.formContent input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 10px;
  outline: none;
  border: 2px solid var(--color-border);
  background-color: var(--color-bg);
  box-shadow: 4px 4px var(--color-shadow);
  color: var(--color-text);
  margin: 10px 0 20px 0;
}

.formContent button{
  padding: 10px 20px;
  margin: 0 0 15px 0;
  border-radius: 5px;
  text-transform: uppercase;
  /* border: 1px solid var(--color-border); */
}




.helpOptions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.oauthButton {
  /* Posicion */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  /* Diseño */
  padding: auto 15px 15px auto;
  border-radius: 5px;
  cursor: pointer;
  gap: 5px;
  /* Texto */
  font-size: 12px;
  font-weight: 600;
  color: var(--color-card);
  /* Colores */
  background-color: var(--color-text);
  border: 2px solid var(--color-border);
  box-shadow: 4px 4px var(--color-shadow);
  /* Transicion */
  transition: all 250ms;

}

.oauthButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--color-card);
  z-index: -1;
  transition: all 250ms;
}

.oauthButton:hover {
  color: var(--color-text);
}

.oauthButton:hover::before {
  width: 100%;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.separator > div {
  width: 100px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--color-text);
}


.registerLink{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0 0 0;
  color: var(--color-text);

}

.registerLink a{
  cursor: pointer;
}
.registerLink a:hover{
  color: var(--color-accent);

}