/* <------------ Contenedor barra de navegacion ------------> */
.navbarContainer{
    background-color: var(--color-bg);
    padding: 10px 0;
}


/* <----------- Contenido de barra de navegacion -----------> */
.navbarContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Contenido lado izquierdo de barra de navegacion */
.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.item a{
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.item img {
    width: 50px;
}