.content {
    padding: 20px;
    margin: 0 0 20px 0;
    border-radius: 12px;
    box-shadow: var(--color-shadow);
    background-color: var(--color-card);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form textarea {
    padding: 15px;
    width: 100%;
    border: none;
    font-size: 16px;
    transition: border 0.2s ease;
    background-color: var(--color-card);
    color: var(--color-text);
    outline: none;
    resize: none; 
  }
  
  .form input:focus {
    outline: none;
    background-color: var(--color-card);
  }
  
  .btns {
    display: flex;
    justify-content: flex-end;
  }
  
  .btns button {
    padding: 10px 20px;
    background-color: var(--color-bg);
    color: var(--color-text);
    border: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .btns button:hover {
    background-color: var(--color-accent);
    color: var(--color-text)
  }
  