.container {
  padding: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--color-text);
}

.empty {
  font-size: 16px;
  color: var(--color-muted);
  text-align: center;
  margin-top: 60px;
}

.grid {
  display: grid;
  gap: 20px;
}

.card {
  background-color: var(--color-card);
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 12px var(--color-shadow);
}



.cardHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--color-border);
}

.author {
  font-weight: 600;
  color: var(--color-text);
}

.time {
  font-size: 12px;
  color: var(--color-muted);
}

.description {
  color: var(--color-text);
  margin: 10px 0;
  font-size: 15px;
  line-height: 1.5;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.1s ease;
}

.actions button:hover {
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .container {
    padding: 20px 0px;
  }
}